[submodule "kernel"]
	path = kernel
	url = git@github.com:HexHive/seccell-seL4.git
	branch = secure-florian
[submodule "projects/musllibc"]
	path = projects/musllibc
	url = https://github.com/seL4/musllibc.git
	branch = 12.0.x-compatible
[submodule "tools/opensbi"]
	path = tools/opensbi
	url = git@github.com:HexHive/seccell-opensbi.git
	branch = secure
[submodule "projects/sel4runtime"]
	path = projects/sel4runtime
	url = https://github.com/seL4/sel4runtime.git
	branch = 12.0.x-compatible
[submodule "tools/seL4_tools"]
	path = tools/seL4_tools
	url = git@github.com:HexHive/seccell-seL4_tools.git
	branch = secure
[submodule "projects/util_libs"]
	path = projects/util_libs
	url = https://github.com/seL4/util_libs.git
	branch = 12.1.x-compatible
[submodule "projects/seL4_libs"]
	path = projects/seL4_libs
	url = git@github.com:HexHive/seccell-seL4_libs.git
	branch = secure-florian
